# Azure Cognitive Services
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=
AZURE_VISION_KEY=
AZURE_VISION_ENDPOINT=
AZURE_LANGUAGE_KEY=
AZURE_LANGUAGE_ENDPOINT=

# OpenAI
OPENAI_API_KEY=

# Configurações gerais
LOG_LEVEL=INFO
